h1 {
  color: #e4f4f3;
}

.home {
  background-color: #;
  /* background-image: linear-gradient(to right, #41729f, #c3e0e5); */
  /* height: 100%; */
}

@media only screen and (max-width: 600px) {
  #gambar {
    display: none !important;
    visibility: hidden !important;
  }
}
